
.home,.body-wrapper{
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 12%;
     

    
}
.body-wrapper input{
    font-size: 40px; padding: 5px;
    height: 50px;
    border: 0px;
    border-bottom: 1px solid slategrey;
}
.home h1 {
    padding: 0px; font-size: 200px;
}
.public_navigation  {
 width: 50%; margin-left: 190px;
 
 list-style: none;
}
.public_navigation li{
    float: left;
    text-decoration: none;
    font-size: 20px; padding: 0px; 
    margin: auto; 
    padding: 5px;
}
