
.navigation_right  {
   width:85% !important;  
    
}


.navigation_right > li{
     /* background:#000; padding:5px; float:right !important ; */
    
}

.navigation_right > li > a{
    text-decoration: none;
    color:#929292;
}
.headerbar{
    /* background: #929292; */
    display: block;
   
    
}
.banner{
    text-align: center;
    background-image: url("../images/imageone.png");
    background-repeat: no-repeat;
    height: 370px;
     
    padding-top: 15%;
    
    
    
}
 .banner h1{
  /* Chris Coyier's favorite color! */
    color: goldenrod;
     
    -webkit-text-stroke: 5px #666666;  
    z-index: -1;
    font-weight: 500;
    font-size:70px;
    
 }